<h2>Sign-Up</h2>
<mat-dialog-content>
  <form [formGroup]="createAccount" (ngSubmit)="onSubmit()">
    <mat-stepper linear>
      <mat-step formGroupName="loginInformation" [stepControl]="loginInformation">
        <mat-form-field>
          <mat-label for="userName">Username</mat-label>
          <input matInput="text" formControlName="userName" required/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label for="password">Password</mat-label>
          <input matInput="password" formControlName="password"/>
          <mat-error class="error">Does not meet requirements.</mat-error>
        </mat-form-field>
        <label class="requirements">Minimum 7 characters</label>
        <label class="requirements">Must have 1 number and special character.</label>
        <br>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </mat-step>
      <mat-step formGroupName="userInformation" [stepControl]="userInformation">
        <mat-form-field>
          <mat-label for="Phone">First Name</mat-label>
          <input matInput="text" formControlName="firstName" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="Phone">Last Name</mat-label>
          <input matInput="text" formControlName="lastName" required/>
        </mat-form-field>
        <mat-form-field label="Overview">
          <mat-label for="Phone">Country</mat-label>
          <input matInput="text"/>
        </mat-form-field>
        <mat-form-field label="Overview">
          <mat-label for="Phone">State</mat-label>
          <input matInput="text"/>
        </mat-form-field>
        <mat-form-field label="Overview">
          <mat-label for="Phone">City Name</mat-label>
          <input matInput="text"/>
        </mat-form-field>
        <br>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </mat-step>
      <mat-step formGroupName="phoneInformation" [stepControl]="phoneInformation">
        <mat-form-field>
          <mat-label for="Phone">Phone</mat-label>
          <input matInput="tel" formControlName="phone" maxlength="10"/>
          <mat-error>Not A Valid Telephone Number.</mat-error>
        </mat-form-field>
        <button
          (click)="requestVerificationCode()"
          [disabled]="!IsValidPhone"
          [class.grayOut]="!IsValidPhone"
          mat-stroked-button>
          Send Verification Code
        </button>
        <div id="verificationInput" class="hide">
          <mat-form-field>
            <mat-label>Enter Verification Code</mat-label>
            <input matInput="text" formControlName="verificationCode"/>
            <mat-error>Incorrect Code.</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button type="button" (click)="CheckVerificationCode()">Verify</button>
        </div>
        <br><br>
        <button mat-raised-button matStepperNext type="submit" *ngIf="IsValidVerificationCode">Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel="Completion">Done</ng-template>
        <h2 class="center">Your Account Has Been Created!</h2>
        <img id="ConfirmationCheckmark" src="./assets/Icons/green_checkmark.svg.png"/>
        <button id="finishButton" mat-raised-button (click)="closeDialog()">Exit</button>
      </mat-step>
    </mat-stepper>
  </form>
</mat-dialog-content>
